[user]
    name = Alex Wang
    email = alexw@nicira.com
[core]
    editor = emacs
[color]
    ui = auto
    interactive = auto
    diff = auto
[diff]
    renames = copies
[mergetool.ediff]
    cmd = emacs --eval \" (progn (defun ediff-write-merge-buffer () (let ((file ediff-merge-store-file)) (set-buffer ediff-buffer-C) (write-region (point-min) (point-max) file) (message \\\"Merge buffer saved in: %s\\\" file) (set-buffer-modified-p nil) (sit-for 1))) (setq ediff-quit-hook 'kill-emacs ediff-quit-merge-hook 'ediff-write-merge-buffer) (ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\"))\" 
[alias]
    ap = add -p
    br = branch
    cm = commit
    ca = commit --amend
    co = checkout
    cb = checkout -b
    df = diff
    dc = diff --cached
    dt = diff-tree --no-commit-id --name-only -r
    sb = status -sb
    st = stash
    sp = stash pop
    si = stash --keep-index
    cp = cherry-pick
    fp = format-patch
    rb = rebase
    ri = rebase -i
    rc = rebase --continue
    lo = log --oneline
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[merge]
     tool = ediff